@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bowl:before {
  content: "\e900";
}
.icon-canape:before {
  content: "\e901";
}
.icon-salad:before {
  content: "\e902";
}
.icon-main:before {
  content: "\e903";
}
.icon-drinks:before {
  content: "\e904";
}
.icon-Instagram:before {
  content: "\e905";
}
.icon-Facebook:before {
  content: "\e906";
}
.icon-Twitter:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-place:before {
  content: "\e909";
}
